---
---

@import "{{ site.theme }}";

/*
p {
    color: #00ff00;
  }
 */

span.credits {
  display: none;
}

section #title .credits {
  display: none;
}

#header .fork {
  display: none;
}

footer a {
  text-decoration: none;
  padding:       0 12px;
  border-right: 1px solid #9b9b9b;
  color:        #9b9b9b;
  cursor:       pointer;
}

footer a.last {
  border-right: none;
  passing-right: 0px;
}

footer {
  background: url("/images/footer_logo.png") no-repeat left 27px;
  background-color: #373737;
  color:        #9b9b9b;
  display:      block;
  font-size:     14px;
  height:        90px;
  line-height:   50px;
  margin:      0 auto;
  position:  relative;
  text-align:   right;
  max-width:     100%;
}

footer span.copyright {
  font-size: 11px;
}
